*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: rgba(0, 0, 0);
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;    
    background-color:transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.header.sticky{
    background-color: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.logo{
    color: var(--main-color);
    font-size: 2rem;
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}

.navbar a{
    position: relative;
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.5rem;
}

.header.sticky .navbar a{
    color: var(--main-color);
}

.navbar-open {
    transform: translateX(0);
}

.navbar-closed {
    transform: translateX(-100%);
}


.navbar a.active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);
}

.header.sticky .navbar a::before{
    background: var(--main-color);
    opacity: .7;
    height: .2rem;
    font-weight: 500;
}

.header.sticky .navbar a.active{
    font-weight: 500;
}

/* .navbar a:hover {
    color: var(--white-color);
    border-bottom: 2px solid var(--white-color);
    box-shadow: 0 .2rem .5rem var(--shadow-color);
} */


#darkMode-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
}

.header.sticky #darkMode-icon{
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

.home{
    display: flex;
    align-items: center;
}

.home .home-content{
    max-width: 44rem;
}

.home-content h4{
    font-size: 2.2rem;
    font-weight: 700;
    line-height: .3;
    color:var(--white-color);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.home-content h3 {
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: .3rem;
    margin-top: 1rem;
    display: inline-block;
}

.home-content h3 span {
    display: inline-block;
    opacity: 0; /* Initial state of opacity for the animation */
    animation: fadeIn 0.5s ease-in-out forwards; /* Applying the animation */
    animation-delay: var(--delay); /* Custom property to set individual delay */
    margin-right: 0.2rem; /* Adjust this value to set the desired spacing */
}

.home-content p{
    font-size: 1.6rem;
    margin: 2rem 0;
}

.home-content .social-media a {
    display: inline-flex;
    justify-content: center; /* căn giữa theo chiều ngang */
    align-items: center; /* căn giữa theo chiều dọc */
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.home-content .social-media a:hover{
    background: var(--main-color);
    color: var(--white-color);
}
.btn{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    border: .2rem  solid transparent;
    letter-spacing: .1rem;
    font-weight: 600;
}
.btn:hover{
    background: transparent;
    color: var(--main-color);
}

.home .profession-container{
    position: absolute;
    top:50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    overflow: hidden;
    pointer-events: none;
}

.home .profession-container .profession-box{
    position: absolute;
    top:0;
    right: 0;
    width: 768px;
    height: 768px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.home .profession-box .profession{
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg/4 * var(--i)));
    transform-origin: 384px;
    background: var(--bg-color);
    padding: 13px 0;
}

.home .profession-box .profession:nth-child(1){
    margin-right: 15px;
}

.home .profession-box .circle{
    width: 560px;
    height: 560px;
    border-radius: 50%;
    border: 3px solid var(--main-color);
}

.home .profession i{
    font-size: 3.8rem;
}

.home .profession h3{
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}

.home .profession-container .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--main-color);
    border-bottom: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-left: 384px solid transparent;

}

.home-img img{
    position: absolute;
    bottom: 0;
    right: 3%;
    width: 40%;
    pointer-events: none;
}

.resume .heading{
    color:var(--white-color)
}

span{
    color: var(--main-color);
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.about img{
    width: 65vw;
}
.heading{
    font-size: 4.5rem;
    text-align: center;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
    color: var(--white-color);
}

.about-content h3{
    font-size: 2rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    color:var(--white-color)
}

.service .services-container{
    display: flex;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.services-container .services-box{
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);

}

.services-box i{
    font-size: 7rem;
    color: var(--main-color);
}
.services-box h3{
    font-size: 2.6rem;
    transition: .5s ease;
}

.service h3:hover{
    color: var(--main-color);
}
.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.service{
    min-height: auto;
    padding-bottom: 7rem;
}
.service h2{
    margin-bottom: 5rem;    
    color: var(--white-color);
}

.services .heading {
    color: var(--white-color);
}

.services-container .services-box:hover{
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.03);
}



.contact {
    background-color: var(--bg-color); /* Light background color */
    padding: 50px 20px; /* Padding around the section */
    text-align: center; /* Center align text */
}

.contact .heading {
    font-size: 2.5rem; /* Larger font size for heading */
    margin-bottom: 20px; /* Space below the heading */
    color:var(--white-color); /* Darker color for contrast */
}

.contact .heading span {
    color: #007BFF; /* Highlight color for span */
}

.contact form {
    max-width: 800px; /* Max width for form */
    margin: 0 auto; /* Center align form */
}

.contact .input-box {
    background: var(--bg-color); /* White background for input boxes */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin: 20px 0; /* Space between input boxes */
    padding: 20px; /* Padding inside input boxes */
    transition: transform 0.3s ease; /* Smooth transition on hover */
    border: 1px solid transparent; /* Transparent border for spacing */
    border-color: var(--main-color);
}

.contact .input-box:hover {
    transform: translateY(-5px); /* Slight lift on hover */
}

.contact .input-box span h2 {
    font-size: 2.2rem; /* Adjusted font size for content */
    color: var(--main-color); /* Medium color for text */
}

.contact .input-box span h2:first-of-type {
    font-weight: bold; /* Bold first part (label) */
    margin-bottom: 5px; /* Space below the label */
}

.resume {
    text-align: center;
    padding: 20px;
}

.heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.heading span {
    color: #007bff;
}

.resume-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* khoảng cách giữa hai ảnh */
}

.about-img img {
    max-width: 100%;
    height: auto;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: var(--main-color);
}
.footer-text p{
    font-size: 1.6rem;
    color: var(--white-color);

}
.footer-iconTop{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--white-color);
    border-radius: .8rem;
    border: .2rem solid;
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--white-color);
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    outline-color:var(--white-color)
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--text-color);
    margin-right: .5rem;
}


@media(max-width: 1200px){
    html{
        font-size: 55%;
    }
    .home .profession-container{
        height: 85.8rem;
    }
    .home .profession-container .profession-box{
        right:-12rem;
        height: 85.8rem;
    }
    .home .profession-container .overlay{
        right: -9rem;
    }
    
}

@media (max-width: 1024px) {

    .header{
        padding: 2rem 3%;
    }
    .section{
        padding: 10rem 3% 2rem;
    }
    .home .profession-container .profession-box{
        right:-22rem;
    }
    .home .profession-container .overlay{
        right: -15rem;
    }
}

@media (max-width:991px) {
    .navbar a:nth-child(1),
    .navbar a:nth-child(2){
        color: var(--main-color);
    }

    .navbar a.active::before{
        background: var(--main-color);
    }
    .home .home-content{
        max-width: 50rem;
    }
    .home .profession-container .profession-box{
        right:-45rem;
    }
    .home .profession-container .overlay{
        right: -39.5rem;
    }
    .home-img img{
        display: none;
    }
    .service{
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
    .footer{
        padding: 2rem 3%;
    }
}

@media(max-width:768px) {
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top:.1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display: none;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .navbar a:nth-child(1),
    .navbar a:nth-child(2){
        color: var(--text-color);
    }
    .navbar a.active{
        color: var(--main-color);
    }
    .navbar a::before{
        display: none;
    }
    .home{
        padding: 0 3% 33rem;
        justify-content: center;
        text-align: center; 
    }
    .home-context h3{
        font-size: 2.6rem;
    }
    .home-content h2{
        font-size: 4.6rem;
    }
    .home-content .social-media a{
        margin: 2.5rem .75rem 3rem ;
    }
    .home .profession-container{
        left: 0;
        width: 100%;
        height: 100%;
    }
    .home .profession-container .profession-box{
       position: fixed;
       top:60%;
       left:0;
       border-radius: 0;
       width: 100%;
    }
    .home .profession-container .profession{
        padding: 0 13px;
        left: auto;
        transform-origin: 0;
    }

    .home .profession-container .overlay{
        position: fixed;
        top: 70rem;
        left: 50%;
        right:0;
        transform:rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width: 23.9rem;
    }

    .home .profession-box .profession:nth-child(1){
        transform: rotate(-90deg) translate(-110px,-220px);
    }
    .home .profession-box .profession:nth-child(1){
        margin-right: 0;
    }
    .home .profession-box .profession:nth-child(2){
        transform: rotate(0deg) translate(0px,-335px);
    }
    .home .profession-box .profession:nth-child(3){
        transform: rotate(90deg) translate(-105px,-440px);
    }
    .home .profession-box .profession:nth-child(4){
        transform: rotate(180deg) translate(-210px,-335px);
    }
    .home .profession-box .circle{
        position: fixed;
        width: 670px;
        height: 670px;
        z-index: -1;
    }
    .resume {
        padding: 7rem 3% 2rem;
    }

    .resume-container {
        flex-direction: column;
        gap: 2rem;
    }

    .about-img {
        flex-direction: column;
    }
}

@media (max-width: 365px) {
    .about-img img{
        width: 90vw;
    }
}